- name: Déploiement ClamAV Automation (scan + timer)
  hosts: all
  become: yes

  tasks:

    - name: Créer dossiers ClamAV
      file:
        path: "{{ item }}"
        state: directory
        owner: root
        group: root
        mode: '0755'
      loop:
        - /opt/clamav/scripts
        - /var/log/clamav

    - name: Copier scripts ClamAV
      copy:
        src: "{{ item }}"
        dest: /opt/clamav/scripts/
        owner: root
        group: root
        mode: '0755'
      loop:
        - scripts/clamav_scan.sh
        - scripts/clamav_update.sh

    - name: Copier services et timers systemd
      copy:
        src: "{{ item }}"
        dest: /etc/systemd/system/
        owner: root
        group: root
        mode: '0644'
      loop:
        - systemd/clamav-scan.service
        - systemd/clamav-scan.timer
        - systemd/clamav-update.service
        - systemd/clamav-update.timer

    - name: Créer fichiers de log
      file:
        path: "{{ item }}"
        state: touch
        owner: root
        group: root
        mode: '0600'
      loop:
        - /var/log/clamav/clamav-scan.log
        - /var/log/clamav/freshclam.log

    - name: Reload systemd
      command: systemctl daemon-reexec

    - name: Activer timers ClamAV
      systemd:
        name: "{{ item }}"
        enabled: yes
        state: started
      loop:
        - clamav-scan.timer
        - clamav-update.timer
